@import url(./_dark/header__logo_dark.css);
@import url(./_hover/header__logo_hover.css);

.header__logo {
    width: 134px;
    height: 21px;
    background-image: url(./header__logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 768px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {
    .header__logo {
        width: 117px;
    }
}