.title_small {
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0;
}

@media (max-width: 1024px) {
    .title_small {
        font-size: 22px;
        line-height: 24px; 
    }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .title_small {
        font-size: 22px;
        line-height: 26px; 
    }
}