.card__description {
    padding: 20px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 1024px) {
    .card__description {
        padding: 16px;
        min-height: 235px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .card__description {
        padding: 15px;
        min-height: 215px;
    }
}