@import url(./_hover/footer__link-icon_hover.css);
@import url(./_facebook/footer__link-icon_facebook.css);
@import url(./_github/footer__link-icon_github.css);

.footer__link-icon {
    text-decoration: none;
    cursor: pointer;
    margin-left: 30px;
    display: inline-block;
}

@media (max-width: 768px) {
    .footer__link-icon {
        margin-left: 20px;
    }
}
 
@media (max-width: 540px) {
    .footer__link-icon {
        margin-left: 30px;
    }
}