.cards-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px 16px;
    margin: 64px 0;
}

@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, 224px);
        grid-gap: 8px 8px;
    }
}

@media (max-width: 768px) {
  .cards-container_saved-news-page {
      margin: 30px 0;
  }
}

@media (max-width: 425px) {
  .cards-container {
      grid-template-columns: repeat(auto-fill, 288px);
      grid-gap: 10px 10px;
  }
}

@media (max-width: 320px) {
  .cards-container_saved-news-page {
      margin: 25px 0;
  }
}
