.card__tooltip {
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 24px;
    right: 69px;
}

.button:hover ~ .card__tooltip {
    display: flex;
}

@media (max-width: 1024px) {
    .card__tooltip {
        top: 8px;
        right: 50px;
    }
}

@media (max-width: 425px) {
    .card__tooltip {
        top: 16px;
        right: 60px;
    }
}