.search__title {
    margin: 80px 0 32px;
}

@media (max-width: 768px) {
    .search__title {
        width: 80%;
        margin: 36px 0 16px;
    }
}

@media (max-width: 425px) {
    .search__title {
        margin: 30px 0 17px;
    }
}