.header__menu-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
}

@media (max-width: 540px) {
    .header__menu-toggler {
        display: block;
    }
}