.title_main {
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .title_main {
        font-size: 36px;
        line-height: 40px;
    }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}