@import url(./_hover/footer__link_hover.css);

.footer__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer__link {
        margin-right: 20px;
    }
}
 
@media (max-width: 540px) {
    .footer__link {
        line-height: 48px;
    }
}