@import url(./_dark/header__menu-button_dark.css);

.header__menu-button {
    border-radius: 100px;
    background-color: inherit;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 100px;
}

.header__menu-button:hover {
    opacity: 0.7;
    transition: opacity 0.1s linear;
}

@media (max-width: 768px) {
    .header__menu-button {
        font-size: 16px;
        padding: 8px 14px;
    }
}

@media (max-width: 375px) {

}

@media (max-width: 540px) {
    .header__menu-button {
        width: 100%;
        padding: 15px;
    }
}