.header_theme_dark .header__menu-icon_logout {
    background: url(./header__menu-icon_logout-dark.svg) center no-repeat;
    width: 18px;
    height: 16px;
    background-color: transparent;
    display: inline-block;
    margin-left: 5px;
}

@media (max-width: 540px) {
    .header_theme_dark.header_expanded .header__menu-icon_logout {
        background: url(../_logout-light/header__menu-icon_logout-light.svg) center no-repeat;
    }
}