@import url(./__bookmark/card__bookmark.css);
@import url(./__bookmark-icon/card__bookmark-icon.css);
@import url(./__delete/card__delete.css);
@import url(./__delete-icon/card__delete-icon.css);
@import url(./__keyword/card__keyword.css);
@import url(./__keyword-text/card__keyword-text.css);
@import url(./__date/card__date.css);
@import url(./__description/card__description.css);
@import url(./__image/card__image.css);
@import url(./__image-cover/card__image-cover.css);
@import url(./__source/card__source.css);
@import url(./__subtitle/card__subtitle.css);
@import url(./__title/card__title.css);
@import url(./__link/card__link.css);
@import url(./__tooltip/card__tooltip.css);
@import url(./__tooltip-text/card__tooltip-text.css);

.card {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    min-height: 576px;
}

@media (max-width: 1024px) {
    .card {
        width: 224px;
        min-height: 420px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .card {
        width: 288px;
        min-height: 440px;
    }
}