.about-author__row {
    display: flex;
    margin: 84px 0 75px;
}

@media (max-width: 768px) {
    .about-author__row {
        margin: 45px 0 30px;
    }
}

@media (max-width: 540px) {
    .about-author__row {
        flex-direction: column;
        align-items: center;
        margin: 15px 0 45px;
    }
}