.header_theme_dark .header__menu-icon_toggler {
    background: url(./header__menu-icon_toggler-dark.svg) center no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

@media (max-width: 540px) {
    .header_theme_dark.header_expanded .header__menu-icon_toggler {
        background: url(../_toggler-light/header__menu-icon_toggler-light.svg) center no-repeat;
    }
}