.card__image {
    height: 272px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

@media (max-width: 1024px) {
    .card__image {
        height: 150px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .card__image {
        height: 196px;
    }
}