.footer__link-svg {
    text-decoration: none;
    cursor: pointer;
    margin-left: 30px;
}

.footer__link-svg:hover {
    opacity: 0.7;
    transition: opacity 0.1s linear;
}

@media (max-width: 768px) {
    .footer__link-svg {
        margin-left: 20px;
    }
}
 
@media (max-width: 540px) {
    .footer__link-svg {
        margin-left: 30px;
    }
}