<section class="about-author section">
  <div class="about-author__row">
      <img src="${require('../images/image-03.png').default}" alt="Фото автора" class="about-author__image">
      <div class="about-author__text">
          <h2 class="about-author__title title title_mid">Об авторе</h2>
          <p class="about-author__subtitle subtitle subtitle_normal">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
          <p class="about-author__subtitle subtitle subtitle_normal">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
      </div>
  </div>
</section>