<div class="card">
  <div class="card__image-cover">
      <div class="card__category">
          <div class="card__category-text">${article.category}</div>
      </div>
      <button class="delete button">
          <i class="delete__icon"></i>
      </button>
      <div class="tooltip">
          <div class="tooltip__text">${tooltip}</div>
      </div>
      <img class="card__image" src="${article.image}" alt="${article.title}">
  </div>
  <div class="card__description">
      <h3 class="card__date">${article.date}</h3>
      <h2 class="card__title title title_small">${article.title}</h2>
      <p class="card__subtitle subtitle subtitle_small">${article.text}</p>
      <p class="card__source">${article.source}</p>
  </div>
</div>