<footer class="footer section">
  <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
  <nav class="footer__lists">
      <ul class="footer__list-links">
          <li>
              <a href="index.html" class="footer__link">Главная</a>
          </li>
          <li>
              <a href="https://praktikum.yandex.ru/" target="_blank" class="footer__link">Яндекс.Практикум</a>
          </li>
      </ul>
      <ul class="footer__list-social">
          <li>
              <a href="https://github.com/" target="_blank" class="footer__link-social">
                  <i class="footer__link-icon footer__link-icon_github"></i>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com" target="_blank" class="footer__link-social">
                  <i class="footer__link-icon footer__link-icon_facebook"></i>
              </a>
          </li>
      </ul>
  </nav>
</footer>