<header class="header header_${this.foo}">
  <div class="header__container header__container_expandable section">
      <div class="header__container-row">
          <a href="logged-in.html">
              <div class="header__logo"></div>
          </a>
          <button class="header__menu-toggler">
              <i class="header__menu-icon header__menu-icon_toggler-light"></i>
          </button>
      </div>
      <div class="header__container-line"></div>
      <div class="header__container-row header__container-row_expandable">
          <nav class="header__menu">
              <a href="logged-in.html" class="header__menu-item header__menu-item_active">Главная</a>
              <a href="saved-news.html" class="header__menu-item header__menu-item-light">Сохраненные статьи</a>
              <button class="header__menu-button button button__logout">Ольга
                  <i class="header__menu-icon header__menu-icon_logout-light"></i>
              </button>
          </nav>
      </div>
  </div>
</header>