<header class="header header_dark">
  <div class="header__container header__container_expandable section">
      <div class="header__container-row">
          <a href="logged-in.html">
              <div class="header__logo header__logo_dark"></div>
          </a>
          <button class="header__menu-toggler">
              <i class="header__menu-icon header__menu-icon_toggler-dark"></i>
          </button>
      </div>
      <div class="header__container-line"></div>
      <div class="header__container-row header__container-row_expandable">
          <nav class="header__menu">
              <a href="logged-in.html" class="header__menu-item header__menu-item_dark">Главная</a>
              <a href="saved-news.html" class="header__menu-item header__menu-item_dark header__menu-item_active">Сохраненные статьи</a>
              <button class="header__menu-button header__menu-button_dark button button__logout">Ольга
                  <i class="header__menu-icon header__menu-icon_logout-dark"></i>
              </button>
          </nav>
      </div>
  </div>
</header>