<div class="popup popup__signin">
  <div class="popup__content">
      <button class="popup__close">
          <i class="popup__close-icon"></i>
      </button>
      <h3 class="popup__title">Вход</h3>
      <form class="popup__form" name="new" action="logged-in.html">
          <div class="popup__form-input">
              <label for="signin-email" class="popup__label">Email</label>
              <input
                  type="email"
                  name="email"
                  pattern="[a-z0-9\._%\+\-]+@[a-z0-9\.\-]+\.[a-z]{2,4}$"
                  class="popup__input popup__input_type_email"
                  placeholder="Введите почту"
                  id="signin-email"
                  required>
              <span class="popup__input-error">Неправильный формат email</span>
          </div>
          <div class="popup__form-input">
              <label for="signin-password" class="popup__label">Пароль</label>
              <input
                  type="password"
                  name="password"
                  class="popup__input popup__input_type_password"
                  placeholder="Введите пароль"
                  minlength="8"
                  maxlength="30"
                  id="signin-password"
                  required>
              <span class="popup__input-error">Неправильный формат пароля</span>
          </div>
          <div class="popup__form-error">
              <span class="popup__input-error">Что-то пошло не так</span>
          </div>
          <button class="button popup__button">Войти</button>
      </form>
      <div class="popup__text">или
          <a href="index.html" class="popup__link popup__link-signup">Зарегистрироваться</a>
      </div>
  </div>
</div>