.card__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0 0 12px;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .card__date {
        margin: 0 0 10px;
    }
}