.card__image-cover {
    height: 272px;
    position: relative;
}

@media (max-width: 1024px) {
    .card__image-cover {
        height: 150px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .card__image-cover {
        height: 196px;
    }
}