.header__menu-item_active {
    border: 0;
    padding-bottom: 22px;
    border-bottom: 2px solid currentColor;
}

@media (max-width: 540px) {
    .header__menu-item_active {
        border: none;
    }
}