@import url(./__container/header__container.css);
@import url(./__container-line/header__container-line.css);
@import url(./__container-row/header__container-row.css);
@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__menu-button/header__menu-button.css);
@import url(./__menu-icon/header__menu-icon.css);
@import url(./__menu-item/header__menu-item.css);
@import url(./__menu-toggler/header__menu-toggler.css);
@import url(./_dark/header_dark.css);
@import url(./_expanded/header_expanded.css);

.header {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    height: 80px;
    width: 100%;
    z-index: 2;
}

@media (max-width: 768px) {
    .header {
        height: 66px;
    }
}

@media (max-width: 540px) {
    .header {
        height: 56px;
        border: none;
    }
}