.popup-form__label {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin-top: 30px;
}

.popup-form__label:first-of-type {
    margin-top: 0;
}